<!DOCTYPE html>
<html>
    <head>
        <title> Home page</title>
        <link rel="stylesheet" href="homepage.component.css">
    </head>
<body>


    <main>

<section class="section-box">Update Catalogue</section>
<section class="section-box">Product Catalogue</section>
<section class="section-box">Purchase Order and Invoicing.</section>
<section class="section-box">CRM portal</section>
<section class="section-box">Inventory Managment</section>


</main>

</body>

    </html>